.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 5px;
}

.headerNav ul {
    list-style: none;
    margin-bottom: 0;
}
.headerNav li {
    display: inline-block;
    margin: 0 10px;
}
.haedernavitem {
    color: #fff;
    text-decoration: none;
}